body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    background: #222;
    color: white;
    margin: 0;
    padding: 10px;
}

#map {
    height: 90vh;
    width: 100%;
}
