name: Simple GitHub Action

on:
  push:
    branches: [ "staging" ]
      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run a test command
        run: echo "GitHub Actions is working!"
