name: CI

on:
  push:
    branches:
      - main
      - "release/*"
  pull_request:
    branches:
      - staging

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install & test
        run: |
          npm ci
          npm test